@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Roboto' 'Verdana', 'Geneva', Tahoma, sans-serif, sans-serif;
  color: #4206F1;
}

.thebody{
  display: grid;  
  grid-gap: 50px 50px;
  background-color: #4206F1;
}

body{
  width: 50;
  height: 50;
  background-color: #4206F1;
}

li {
  display: inline;
}

a{
  text-decoration: none;
}

p{
  font-size: 1.8rem;
  font-weight: 300;
  color: #eeeeee;
}

h1{
  background-color: #2bd1fc;
}

h3{
  background-color: #2bd1fc;
}

h6{
  background-color: #2bd1fc;
}

img{
  width: 100%;

}
/*End global*/

/*Start reusable*/

.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}



.section-heading h1{
  font-size: 3.5rem;

}

/*End reusable*/

/*Start header*/
header{
  width: 100%;
  height: 100vh;
  background-color: #2bd1fc;
}

.top-nav{
  width: 10%;
  height: 80vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}



.nav-list{
  list-style: none;
  position: absolute;
  left: 125rem;
  display: table-cell;
        width: max-content;
        height: max-content;
  background-color: #131210;
}


.nav-link{
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  padding: 1rem;
  color: #eeeeee;
}

li{
  margin: 0 2rem;
  list-style-type: none;
}


.nav-link:hover,
.nav-link:focus{
  background: linear-gradient(to top, #131210, #f3f0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open{
  top: 0;
  border-radius: initial;
  margin-top: 4rem;
  margin-right: 1rem;
}

.menu-toggler{
  position: absolute;
  top: 0.6rem;
  right: 0.9rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open{
  transform: rotate(45deg);
}

.bar{
  background: linear-gradient(to left, #f3f0f2, #131210);
  width: 80%;
  height: 4px;
  border-radius: .8rem;
}

.bar.half{
	width: 50%;
}

.bar.start{
  align-self: flex-end;
	text-transform: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
  transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
  align-self: flex-start;
	text-transform: left;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
  transform: rotate(450deg) translateX(.8rem);
}



.dropdown{
  color: white;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 3000;
}


.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9;
    text-align: center;
    z-index: 1;
    background-color: #2bd1fc;


}


.landing-text h1{
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 180px;
  -webkit-transform: skew(-15deg,-15deg);
  padding-left: 80px;
  background-image: -webkit-linear-gradient(red 0%, #FF0FF8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0px 0px 10px #eeeeee;
  }

  to {
    text-shadow: 0px 0px 20px #FF0FF8;
  }
}

@media screen and (max-width:640px) {
  .landing-text h1 {
    font-size: 10rem;
  }
}



.landing-text h6{
  font-size: 3.5rem;
  font-weight: 300;
  margin: 20px;
  font-family: 'Permanent Marker', cursive;
  color: #f3f0f2;  
}
/*End header*/

/*Start about*/

.aboutme .container{
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  display: grid;  
  grid-gap: 10px 10px;
  background-color: #4206F1;
}

.aboutme-heading{
  text-align: center;
  text-transform: uppercase;
}

.aboutme p{
  align-items: center;
}

.aboutme-heading h1{
  font-size: 15rem;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(to top, #131210, #f3f0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 100px;
}

.aboutme-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.social-media{
   margin-top: 5rem;
   list-style-type: none;
 }

.social-media i{
  font-size: 5rem;
  list-style-type: none;
} 

.fa-facebook-square:hover{
  color: aqua;
}

.fa-snapchat-square:hover{
  color: #ffe838;
}


/*End about*/

/*Start services*/


.services .container{
  align-items: center;
  justify-content: center;
  display: grid;  
  grid-gap: 10px 10px;
  margin-top: 5%;

}

.my-skills{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}


.services-heading{
  text-align: center;
  text-transform: uppercase;
}

.services-heading h1{
  font-size: 15rem;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(to top, #131210, #f3f0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-heading h6{
  font-size: 2rem;
  font-weight: 300;
}
/*End services*/

/*Start portfolio*/

.portfolio .container{
  align-items: center;
  justify-content: center;
  display: grid;  
  grid-gap: 10px 10px;
}

.portfolio-heading{
  text-align: center;
  text-transform: uppercase;
}


.portfolio-heading h1{
  font-size: 15rem;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(to top, #131210, #f3f0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-heading h3{
  font-size: 2rem;
  font-weight: 300;
}

.portfolio-item{
  margin-top: 4.5rem;
  display: grid;  
  grid-gap: 50px 10px;
}


/*End portfolio*/

/*Start Experience*/

.experience .container{
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  display: grid;  
  grid-gap: 10px 10px;
}

.experience-heading{
  text-align: center;
  text-transform: uppercase;
}

.experience-heading h1{
  font-size: 15rem;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(to top, #131210, #f3f0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.experience-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.timeline{
  margin-top: 4.5rem;
  display: grid;  
  grid-gap: 10px 10px;
}
/*End Experience*/

/*Start timeline*/
/*End timeline*/

/*Start contact*/
.contact .container{
  margin-top: 20px;
  margin-bottom: 20rem;
  align-items: center;
  justify-content: center;
  display: grid;  
  grid-gap: 20px 20px;
}

.contact-heading{
  text-align: center;
  text-transform: uppercase;
}

.contact-heading h1{
  font-size: 15rem;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(to top, #131210, #f3f0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.contact-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.forms{
  font-size: large;
  margin-top: 20rem;
  display: flex;  
  flex-direction: column;
}
/*End contact*/


/*Start footer*/

.footer{
  margin-top: 0rem !important;
  
}

/*End footer*/

/*Start animations*/
/*End animations*/

/*Start media queries*/
/*End media queries*/
