
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

#aboutme .container{
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  display: grid;  
  grid-gap: 10px 10px;
  background-color: #2bd1fc;
}

.aboutme-heading{
  text-align: center;
  text-transform: uppercase;
}

.aboutme p{
  align-items: center;
}

.aboutme-heading h1{
  font-size: 15rem;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(to top, #131210, #f3f0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 100px;
}

.aboutme-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.social-media{
   margin-top: 5rem;
   list-style-type: none;
 }

.social-media i{
  font-size: 5rem;
  list-style-type: none;
} 

.fa-facebook-square:hover{
  color: aqua;
}

.fa-snapchat-square:hover{
  color: #ffe838;
}


